{{- define "main" -}}
  {{- partial "header" . -}}
  <div class = "uk-padding-small post">
    {{- partial "breadcrumbs.html" . -}}
    <div class = "uk-grid uk-grid-small">
      <aside class = "uk-width-1-3@s uk-width-1-4@l uk-overflow-auto toc">
        {{- partial "toc.html" . -}}
      </aside>
      <div class = "uk-width-2-3@s uk-width-3-4@l">
        <article class = "uk-card uk-card-small post-content">
          <div class = "uk-card-body">
            {{- .Content -}}
          </div>
          {{- if not .Params.Static -}}
            <div class = "uk-flex uk-flex-wrap uk-flex-center uk-flex-between@s">
              {{- with .PrevInSection -}}
                <div class = "uk-margin-small-top uk-margin-small-right uk-margin-small-bottom uk-margin-small-left">
                  <a href = "{{- .RelPermalink -}}" class = "uk-button arrow-btn arrow-btn-inv">
                    <svg class = "icon icon-primary uk-margin-small-right">
                      <use xlink:href = "/images/sprites.svg#mi-west"></use>
                    </svg>
                    <span>
                      Previous post
                    </span>
                  </a>
                </div>
              {{- end -}}
              {{- with .NextInSection -}}
                {{- if not $.PrevInSection -}}
                  <div></div>
                {{- end -}}
                <div class = "uk-margin-small-top uk-margin-small-right uk-margin-small-bottom uk-margin-small-left">
                  <a href = "{{- .RelPermalink -}}" class = "uk-button arrow-btn">
                    <span>
                      Next post
                    </span>
                    <svg class = "icon icon-primary uk-margin-small-left">
                      <use xlink:href = "/images/sprites.svg#mi-east"></use>
                    </svg>
                  </a>
                </div>
              {{- end -}}
            </div>
          {{- end -}}
        </article>
        {{- if not .Params.Static -}}
          <div class = "uk-card uk-card-small uk-margin-top">
            <div class = "uk-card-body">
              <p class = "uk-text-large">
                Comments
              </p>
              <div class = "uk-margin-auto" id = "comments-container">
                <form id = "comment-form" class = "uk-form-stacked uk-margin-auto" autocomplete = "off">
                  <div class = "uk-margin">
                    <label class = "uk-form-label" for = "name-box">
                      Name
                    </label>
                    <div class = "uk-form-controls">
                      <input class = "uk-input uk-form-width-large" id = "name-box" type = "text" placeholder = "Required" name = "name" required>
                    </div>
                  </div>
                  <div class = "uk-margin">
                    <label class = "uk-form-label" for = "email-box">
                      Email
                    </label>
                    <div class = "uk-form-controls">
                      <input class = "uk-input uk-form-width-large" id = "email-box" type = "email" placeholder = "Optional" name = "email" required>
                    </div>
                  </div>
                  <div class = "uk-margin">
                    <label class = "uk-form-label" for = "comment-box">
                      Comment
                    </label>
                    <div class = "uk-form-controls">
                      <textarea class = "uk-textarea uk-form-width-large" id = "comment-box" type = "text" placeholder = "Your message" name = "comment" required></textarea>
                    </div>
                  </div>
                  <div class = "uk-flex uk-flex-wrap">
                    <div class = "uk-margin-small-top uk-margin-small-right uk-margin-small-bottom">
                      <button type = "button" class = "uk-button uk-text-bold">
                        <span>
                          Preview
                        </span>
                      </button>
                    </div>
                    <div class = "uk-margin-small-top uk-margin-small-right uk-margin-small-bottom">
                      <button type = "submit" class = "uk-button uk-text-bold">
                        <span>
                          Submit
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
                <button type = "submit" class = "uk-button uk-text-bold" id = "load-button">
                  <span>
                    Load comments
                  </span>
                </button>
              </div>
            </div>
          </div>
        {{- end -}}
      </div>
    </div>
  </div>
{{- end -}}